<form
  novalidate
  #formUser="ngForm"
  (ngSubmit)="agregarUsuario(nombre.value, apellido.value, edad.value)"
>
  <div class="row g-3 align-items-center my-3">
    <div class="col-auto">
      <label for="nombre" class="col-form-label">Nombre</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        id="nombre"
        class="form-control"
        aria-describedby="nombreHelpInline"
        required
        #nombre="ngModel"
        name="nombre"
        ngModel
      />
    </div>
    <div class="col-auto" *ngIf="nombre.invalid && nombre.touched">
      <span id="nombreHelpInline" class="form-text text-danger">
        Nombre es requerido
      </span>
    </div>
  </div>
  <div class="row g-3 align-items-center my-3">
    <div class="col-auto">
      <label for="apellido" class="col-form-label">apellido</label>
    </div>
    <div class="col-auto">
      <input
        type="text"
        id="apellido"
        class="form-control"
        aria-describedby="apellidoHelpInline"
        required
        #apellido="ngModel"
        name="apellido"
        ngModel
      />
    </div>
    <div class="col-auto" *ngIf="apellido.invalid && apellido.touched">
      <span id="apellidoHelpInline" class="form-text text-danger">
        Apellido es requerido
      </span>
    </div>
  </div>
  <div class="row g-3 align-items-center my-3">
    <div class="col-auto">
      <label for="edad" class="col-form-label">edad</label>
    </div>
    <div class="col-auto">
      <input
        type="number"
        id="edad"
        class="form-control"
        aria-describedby="edadHelpInline"
        required
        #edad="ngModel"
        name="edad"
        ngModel
        min="1"
      />
    </div>
    <div class="col-auto" *ngIf="edad.errors?.['min'] && edad.touched">
      <span id="edadHelpInline" class="form-text text-danger">
        Edad minima es 1
      </span>
    </div>
  </div>
</form>

<div class="my-4">
  <button
    (click)="
      agregarUsuario(nombre.value, apellido.value, edad.value); formUser.reset()
    "
    class="btn btn-primary"
    [disabled]="formUser.invalid"
  >
    Agregar Dato
  </button>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Edad</th>
        <th scope="col">Condición</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nombre }}</td>
        <td>{{ user.apellido }}</td>
        <td>{{ user.edad }}</td>
        <td *ngIf="user.edad >= 18">{{ user.nombre }} es mayor de edad</td>
        <td *ngIf="user.edad < 18">{{ user.nombre }} es menor de edad</td>
      </tr>
    </tbody>
  </table>
</div>
