<div class="row g-3 align-items-center my-3">
  <div class="col-auto">
    <label for="nombre" class="col-form-label">Nombre</label>
  </div>
  <div class="col-auto">
    <input
      type="text"
      id="nombre"
      class="form-control"
      aria-describedby="nombreHelpInline"
    />
  </div>
  <!--   <div class="col-auto">
    <span id="nombreHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
 -->
</div>
<div class="row g-3 align-items-center my-3">
  <div class="col-auto">
    <label for="apellido" class="col-form-label">apellido</label>
  </div>
  <div class="col-auto">
    <input
      type="text"
      id="apellido"
      class="form-control"
      aria-describedby="apellidoHelpInline"
    />
  </div>
  <!--   <div class="col-auto">
    <span id="apellidoHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
 -->
</div>
<div class="row g-3 align-items-center my-3">
  <div class="col-auto">
    <label for="edad" class="col-form-label">edad</label>
  </div>
  <div class="col-auto">
    <input
      type="number"
      id="edad"
      class="form-control"
      aria-describedby="edadHelpInline"
    />
  </div>
  <!--   <div class="col-auto">
    <span id="edadHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
  </div>
 -->
</div>

<div class="my-4">
  <button class="btn btn-primary">Agregar Dato</button>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Edad</th>
        <th scope="col">Condición</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nombre }}</td>
        <td>{{ user.apellido }}</td>
        <td>{{ user.edad }}</td>
      </tr>
    </tbody>
  </table>
</div>
